@import "../../node_modules/bootstrap/scss/functions";
@import "../assets/stylesheet/helpers/variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*,*::before,*::after{
    box-sizing: border-box;
}